.cart-contents {
  margin-top: calc(var(--nav-height) + 8em);
  position: relative;
  padding: 1em var(--side-distance);
}

.cart-contents__book-container {
  display: flex;
  flex-flow: row wrap;
  gap: 3em;
}

.cart-contents__book {
  width: fit-content;
}

.cart-contents__book img {
  max-height: 200px;
}

.user-profile-welcome-band {
  position: relative;
  padding: 1em var(--side-distance);
  margin-top: calc(var(--nav-top-distance) + 10em);
}

.user-profile-welcome-band h1 {
  margin: 0 auto;
  max-width: 250px;
  text-align: center;
}

.user-profile-welcome-band::after {
  content: "";
  position: absolute;
  inset: 0;
  margin: auto;
  border-radius: 50%;
  background-color: var(--body-color);
  border: 10px solid var(--main-color);
  width: 250px;
  height: 250px;
  z-index: -1;
}

.user-profile-welcome-band::before {
  content: "";
  position: absolute;
  inset: 0;
  margin: auto;
  width: 100%;
  height: 100px;
  background-color: var(--main-color);
  z-index: -1;
}

.profile-stats {
  margin-top: 8em;
  padding: 5em var(--side-distance);
}

.profile-stats > h1 {
  margin-bottom: 3em;
}

.profile-stats__stat-container {
  display: flex;
  flex-flow: row wrap;
  gap: 1em 2em;
}

.profile-stats__stat {
  background-color: var(--main-color-light);
  padding: 1em;
  border-radius: 20px;
  box-shadow: var(--main-shadow);
  flex: 1;
  flex-basis: 200px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: normal;
}

.profile-stats__stat > * {
  position: relative;
  z-index: 1;
}

.profile-stats-stat__icon {
  position: absolute;
  inset: 0;
  margin: auto;
  z-index: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.1;
  fill: red;
}

.profile-stats__stat p,
.profile-stats h2 {
  margin-bottom: 0;
}

.profile-stats__stat:nth-of-type(2n) {
  background-color: var(--main-color-dark);
}

.profile-stats__stat:nth-of-type(2n) h2,
.profile-stats__stat:nth-of-type(2n) p {
  color: var(--main-color-lighter);
}

.transaction-list-container {
  padding: 10em var(--side-distance);
}

.transaction-list-container > h1 {
  margin-bottom: 3em;
}

.transaction-list__transaction {
  display: flex;
  margin-bottom: 2em;
  box-shadow: var(--main-shadow);
  border-radius: 100px;
}

.transaction__id-pill {
  position: relative;
  background-color: var(--main-color-lighter);
  text-align: center;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  padding: 1em;
  height: 100%;
}

.transaction__details {
  background-color: var(--main-color-light);
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  flex: 1;
  height: 100%;
  padding: 1em;
  text-align: center;
  word-spacing: 0.2em;
}

.transaction__details span {
  font-weight: bold;
}

.transaction__book-title {
  cursor: help;
  text-decoration: underline;
  font-weight: bold;
}
